<%= Object.new.extend(Formular::Helper).form(nil, "/claims", method: :post) do |f| %>

  <%= model.size %>
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>For you</th>
        <th>Files</th>
        <th>Date</th>
        <th>Remarks</th>
        <th><%= f.submit content: "Claim selected expenses", class: ["btn-warning"]  %></th>
      </tr>
    </thead>
    <tbody>

      <%= cell Expense::Cell::Index::Row, collection: model, form: f %>
    </tbody>
  </table>

<% end %>
